<div style="text-align: center;">
    <img src="{{imagePath}}" alt="Empty" style="width: 50%; height: 50%; display: block; margin: 0 auto;">
    <p style="font-size: 24px;">{{message}}</p>
    <a href="/standard-dashboard" class="back-button">Back To Dashboard</a>
</div>
